<!doctype html>
<html lang="en">
  <head>
    <title>express_todo</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Oh man I can see it now.</h1>
    <script src="/js/list_client.js"></script>
    <script>
lc.getIndex(function(){

    console.log('yeah');
	console.log(this.response);

});
    </script>
  </body>
</html>