<!doctype html>
<html lang="en">
  <head>
    <title>express_todo</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>express_todo</h1>
    <p>Yet another todo list app. <a href="https://www.youtube.com/watch?v=NmPhaG1ud38">hurray!</a></p>

    <%- include('nav'); %>

    <script src="/js/list_client.js"></script>
    <script src="/theme/js/main.js"></script>

    <%- include('layouts/'+layout); %>
  </body>
</html>