
    <h2>Create new:</h2>
    <div id="create">
        List Name: <input class="meta" name="name" type="text" value="The foo list"><br>
        <input id="create_submit" type="submit" value="create"><br>
    </div>
