
    <h2>EDIT:</h2>

    <% if(listId){ %>

        <h3><span><%= list.name %></span> (List#: <span id="listid"><%= list.id %></span> ) </h3>

    <% }else{ %>

       <h3>No List Id: index of lists given</h3>
       <ul>
           <% lists.forEach(function(list){ %>
                <li><a href="/edit?l=<%= list.id %>"><%= list.name %></a></li>
           <% }); %>
       </ul>

    <% } %>

    <script src="/theme/js/edit.js"></script>