
    <h2>EDIT:</h2>

    <% if(listId){ %>

        <p>post id: <span id="listid"><%= listId %></span></p>

    <% }else{ %>

       <h3>No List Id: index of lists given</h3>
       <ul>
           <% lists.forEach(function(list){ %>
                <li><a href="/edit?l=<%= list.id %>"><%= list.name %></a></li>
           <% }); %>
       </ul>

    <% } %>

    <script src="/theme/js/edit.js"></script>